doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  body
    .container-fluid
      block content
  footer
    br
    p
      | Report any issue to:
      a(href="mailto:paulvand@cisco.com") paulvand&#64;cisco.com
    p
      a(href="https://wwwin-github.cisco.com/paulvand/take-a-train") Fork me on github
